/* ------------------------------------------------------------------------------
	

	1. CSS Reset
	2. Document Setup
	3. Header
	    3.1 Navbar
	4. Homepage
        4.1 herp
        4.2 about me
        4.3 skillset
        4.4 experiences
        4.5 education
	5. About me page
        5.1 
	6. Portfolio page
	7. Contact page
	8. Footer
	9. Responsive
		
		
--------------------------------------------------------------------------------/*


/*----------------------------------------------------
 	1 CSS Reset
------------------------------------------------------*/

:root {
    --primary: #37517e;
    --accent: #47b2e4;
    --accent-hover: #3896c2;
    --light-txt: #fff;
    --dark-txt: #777;
    --bg1: #fff;
    --bg2: #f8f8f8;
    --black: #000;
    --headingLine: #ddd;
    --lightGrey: #e2e1e2;
    --navbarBg: rgba(55, 81, 126, 0.9);
    /* --- */
    /* --black: #000;
    --body: #888089;
    --body2: #f8f8f8;
    --brown: #5b4c5c;
    --darkGrey: #5d5d5d;
    --lightGrey: #bab4bb;
    --skyBlue: #47b2e4;
    --marineBlue: #1c2ed3;
    --pinkish: #e88988;
    --white: #fff; */
}

::selection {
    background: var(--accent);
    color: var(--light-txt);
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
}

body {
    color: var(--body);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-font-smooting: antialiased;
}

a {
    text-decoration: none;
    color: var(--white);
    outline: none;
}

img {
    max-width: 100%;
}


/*  Preloader  */


/* #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #37517e;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #37517e;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loaded #preloader {
    visibility: hidden;
} */


/* Animations */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--accent);
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*----------------------------------------------------
 	2 Document setup
------------------------------------------------------*/

.wrapper {
    width: 100%;
}

.spHeight {
    padding-top: 63px;
}

.wrapper.noGap {
    padding-top: 0px;
}

.noMar {
    margin: 0px !important;
}

.noPadd {
    padding: 0px !important;
}

.xPad {
    padding-left: 15px;
    padding-right: 15px;
}

p {
    font-size: 13px;
    line-height: 27px;
    font-weight: 400;
    padding-bottom: 33px;
    margin: 0px;
    color: var(--dark-txt);
    font-family: Poppins;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: var(--black)
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    line-height: 76px;
    font-weight: 600;
    margin: 0px;
    padding-bottom: 8px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    color: var(--primary);
    line-height: 57px;
    padding-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 27px;
    line-height: 30px;
    padding-bottom: 10px;
    font-weight: 300;
    margin: 0px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 400;
    margin: 0px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: var(--primary);
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 400;
    margin: 0px;
}

.wrapper .media {
    margin-top: 0;
}

.heading {
    text-align: center;
    padding-bottom: 70px;
}

.heading .container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 15px;
    padding-left: 15px;
}

.heading h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--primary);
}

.heading h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: var(--headingLine);
    bottom: 1px;
    left: calc(50% - 60px);
}

.heading h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--accent);
    bottom: 0;
    left: calc(50% - 20px);
}

.heading h3 {
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
    padding-bottom: 0;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 1px;
}

.heading p {
    line-height: 25px;
}

.topmar {
    margin-top: 20px;
}


/*----------------------------------------------------
 	3.1 Navbar
------------------------------------------------------*/

#header {
    background: var(--navbarBg);
    backdrop-filter: blur(10px);
}

.navbar {
    padding: 0;
}

#brand a {
    color: var(--light-txt);
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    color: var(--light-txt);
    white-space: nowrap;
    transition: 0.3s;
    border: solid 2px transparent;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--light-txt);
}

.navbar .active {
    border-bottom: solid 2px var(--accent);
}

li:hover .a-alt {
    color: var(--light-txt) !important;
}

.navbar .contact,
.navbar .contact:focus {
    padding: 8px 20px;
    margin-left: 20px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    border: 2px solid var(--accent);
    font-weight: 600;
}

.contact-active-btn {
    color: #fff;
    background: var(--accent);
}

.navbar .contact:hover,
.navbar .contact:focus:hover {
    color: #fff;
    background: var(--accent);
}


/*  Mobile  */

@media (max-width: 991px) {
    #header .container {
        flex-direction: column;
        padding-bottom: 20px;
    }
}


/*----------------------------------------------------
 	4 Homepage
------------------------------------------------------*/


/*  4.1 Hero  */

#hero {
    width: 100%;
    height: 80vh;
    background: var(--primary);
}

#hero .container {
    padding-top: 72px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: var(--light-txt);
}

#hero h2 {
    color: var(--lightGrey);
    line-height: 35px;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: none;
}

#hero .btn-about-me {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border: solid 2px var(--accent);
    border-radius: 2px;
    transition: 0.5s;
    color: var(--light-txt);
    background: var(--accent);
}

#hero .hero-img {
    width: 35%;
}

#hero .btn-about-me:hover {
    background: transparent;
    border: solid 2px var(--accent);
    border-radius: 2px;
}

@media (max-width: 991px) {
    #hero {
        height: 100vh;
        text-align: center;
    }
    #hero .hero-img {
        text-align: center;
        width: 50%;
        margin-right: 0px;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img {
        width: 70%;
        margin-right: 0px;
    }
}

@media (max-width: 575px) {
    #hero .hero-img {
        width: 80%;
        margin-right: 0px;
    }
    #hero .btn-about-me {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}


/*  4.2 About me  */

.aboutme {
    background: var(--white);
    text-align: left;
}

.aboutme .container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.aboutme img {
    display: block;
}

.aboutme .heading p {
    padding-bottom: 41px;
}

.aboutme h4 {
    font-size: 16px;
    color: var(--primary);
    padding-bottom: 20px;
}

.aboutme .btn-primary {
    border: 2px solid var(--accent);
    background: none;
    line-height: 30px;
    font-size: 14px;
    color: var(--accent);
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 2px;
    transition: 0.5s;
    padding: 8px 20px;
}

.aboutme .btn-primary:hover {
    color: var(--light-txt);
    background: var(--accent);
    border: 2px solid var(--accent);
}


/*  4.3 Skillset  */

.skillset {
    background: var(--bg2);
    display: table;
    width: 100%;
}

.skillset .container {
    padding-top: 66px;
    padding-bottom: 66px;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 53px;
    width: 100%;
    background: var(--lightGrey);
    height: 7px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: -27px;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary)
}

.skillbar-title span {
    display: block;
}

.skillbar-bar {
    height: 7px;
    width: 0px;
    background: var(--accent);
}

.skill-bar-percent {
    position: absolute;
    top: -24px;
    font-size: 14px;
    color: var(--dark-txt);
    text-align: end;
    right: 0;
}


/*  4.4 Experience  */

.myExperiences {
    background: var(--bg1);
}

.myExperiences .container {
    padding-top: 67px;
    padding-bottom: 67px;
    /* margin-bottom: -20px; */
}

.experienceico {
    padding: 70px 63px 70px 0;
    text-align: right;
    font-size: 21px;
    line-height: 24px;
    color: #5b4c5c;
    font-style: italic;
}

.experiencedesc {
    border-left: 2px solid var(--accent);
    padding: 0 0 0 69px;
    margin-bottom: 100px;
}

.experiencedesc p {
    padding-bottom: 0;
}

.experiencedesc h4 {
    font-size: 14px;
    font-weight: 300;
    color: var(--black);
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.experiencedesc h5 {
    color: var(--primary);
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}


/*  4.5 Education  */

.myEducation {
    background: var(--bg2);
}

.myEducation .container {
    padding-top: 65px;
    padding-bottom: 65px;
    margin-bottom: -20px;
}


/*----------------------------------------------------
 	5 About me page
------------------------------------------------------*/


/*----------------------------------------------------
 	6 Portfolio page
------------------------------------------------------*/


/*----------------------------------------------------
 	7 Contact page
------------------------------------------------------*/


/*----------------------------------------------------
 	8 Footer
------------------------------------------------------*/

#footer {
    font-size: 14px;
    background: var(--primary);
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: var(--bg1);
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    color: var(--primary);
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: var(--dark-txt);
}

#footer .footer-top h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
    position: relative;
    padding-bottom: 12px;
    text-transform: capitalize;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: var(--accent);
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: var(--dark-txt);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--accent);
}

#footer .btn-footer {
    padding: 3px 0px;
    border-radius: 2px;
    color: var(--accent);
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
}

#footer .btn-footer:hover {
    color: var(--accent);
    cursor: pointer;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--accent);
    color: var(--light-txt);
    line-height: 1;
    padding: 8px 0;
    margin-top: 10px;
    margin-right: 4px;
    border-radius: 2px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: var(--accent-hover);
    color: var(--light-txt);
    text-decoration: none;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--bg1);
}

#footer .copyright {
    text-align: center;
}

@media (max-width: 768px) {
    #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #footer .copyright,
    #footer .credits {
        text-align: center;
        float: none;
    }
    #footer .credits {
        padding-top: 4px;
    }
}


/*----------------------------------------------------
 	9 Responsive
------------------------------------------------------*/